<template>
  <div style="margin: 2rem 5rem">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
      repudiandae voluptatem placeat quia quas corporis sequi perferendis,
      laborum cumque rem aperiam delectus modi odio magnam minima autem impedit
      laudantium praesentium maxime omnis necessitatibus. Pariatur obcaecati
      laborum magnam sapiente nobis neque perferendis quas optio maiores
      inventore eaque dolorum, et veniam quasi ipsa, iusto totam. Optio,
      officiis, placeat? Quod, maxime optio esse distinctio sint, animi ex!
      Minima ea impedit suscipit, tempore doloribus at harum soluta consequuntur
      pariatur beatae, voluptas sequi libero, porro molestias facilis architecto
      veniam animi, similique amet. Sapiente, doloremque, commodi repellendus
      dolorem dolore illo beatae neque porro accusantium nihil alias!
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
