<template>
  <vs-row>
    <vs-col v-for="sword in swords" :key="sword.id" style="max-width: 16rem">
      <vs-card type="5">
        <template #title>
          <h3>{{ sword.blade }}</h3>
        </template>
        <template #img>
          <img src="../assets/ronin.jpg" alt="" />
        </template>
        <template #text>
          <p>
            {{ sword.wielder }}
          </p>
        </template>
        <!--<template #interactions>
          <vs-button danger icon>
            <i class='bx bx-heart'></i>
          </vs-button>
          <vs-button class="btn-chat" shadow primary>
            <i class='bx bx-chat'></i>
            <span class="span">
              54
            </span>
          </vs-button>
        </template>-->
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  data: () => ({
    swords: [
      {
        id: 1,
        blade: "katana",
        wielder: "samurai"
      },
      {
        id: 2,
        blade: "broadsword",
        wielder: "templar"
      }
    ]
  })
};
</script>

<style scoped></style>
