<template>
  <vs-card type="3" style="max-width: 60vw; margin: 0 auto">
    <template #title>
      <h3>Quick brown fox</h3>
    </template>
    <template #img>
      <img src="../assets/ronin.jpg" alt="" />
    </template>
    <template #text>
      <h3>Quick brown fox jumped over the lazy dog</h3>
    </template>
    <template #interactions>
      <vs-button relief danger icon>
        <i class="bx bx-heart"></i>
      </vs-button>
      <vs-button class="btn-chat" shadow primary>
        <i class="bx bx-chat"></i>
        <span class="span">54</span>
      </vs-button>
    </template>
  </vs-card>
</template>

<script>
export default {
  methods: {}
};
</script>

<style></style>
