<template>
  <div class="center examplex">
    <vs-navbar text-white :color="active" center-collapsed v-model="active">
      <!--  <template #left>
        <h4>R0N1n</h4>
      </template>-->
      <template #left>
        <vs-navbar-item :active="active == 'primary'" id="primary">
          <router-link to="/" style="text-decoration: none;">
            <vs-button style="font-weight: 600"
              ><i class="bx bxs-home" style="margin-right: .5rem"></i
              >Home</vs-button
            >
          </router-link>
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'success'" id="success">
          <router-link to="/info" style="text-decoration: none;">
            <vs-button style="font-weight: 600"
              ><i class="bx bxs-battery" style="margin-right: .5rem"></i
              >Info</vs-button
            >
          </router-link>
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'danger'" id="danger">
          <router-link to="/about" style="text-decoration: none;">
            <vs-button style="font-weight: 600"
              ><i class="bx bxs-battery" style="margin-right: .5rem"></i
              >About</vs-button
            >
          </router-link>
        </vs-navbar-item>
      </template>
    </vs-navbar>
    <div class="square">
      <div class="child">
        1
      </div>
      <div class="child">
        2
      </div>
      <div class="child">
        3
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    active: "primary"
  })
};
</script>
