<template>
  <div id="app">
    <div>
      <AnotherCard />
    </div>
    <div class="upBtn" style="margin: 4rem auto ">
      <vs-button v-if="updateExists" @click="refreshApp" relief>
        New update! Update
      </vs-button>
    </div>
    <div>
      <router-view></router-view>
    </div>
    <div class="center content-inputs">
      <vs-input v-model="value1" placeholder="Email">
        <template #message-success>
          Email Valid
        </template>
      </vs-input>
    </div>
    <div class="center content-inputs">
      <vs-input v-model="value1" placeholder="Email">
        <template #message-success v-if="(error = true)">
          Email Valid
        </template>
      </vs-input>
      <vs-button type="gradient" @click="error = false">text</vs-button>
    </div>
  </div>
</template>

<script>
import AnotherCard from "./components/AnotherCard.vue";

export default {
  name: "App",
  components: { AnotherCard },
  data() {
    return {
      refreshing: false,
      registration: null,
      updateExists: false,
      value1: "",
      error: true
    };
  },
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
    },
    refreshApp() {
      this.updateExists = false;
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    }
  },
  created() {
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
